<mat-accordion multi="true" *ngIf="problems.length > 0">
  <mat-expansion-panel *ngFor="let problem of problems">
    <mat-expansion-panel-header>
      {{ problem.title }}
    </mat-expansion-panel-header>
      {{ problem.description }}
    <mat-action-row>
      <button mat-button color="accent">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="problems.length <= 0">No problems added yet!</p>